:root {
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--gray: hsl(0, 0%, 40%);
	--dark-blue: hsl(223, 47%, 23%);
	--black: hsl(0, 0%, 0%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--very-pale-blue: hsl(244, 83%, 68%);
}

body {
	font-family: 'Red Hat Display', sans-serif;
	background: url("../images/pattern-background-desktop.svg") no-repeat;
	background-color: var(--pale-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 13px;
}

#component {
	background-color: var(--white);
	width: 25%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.1);
}

#component-hero {
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0;
}

#order-content {
	padding: 2.5em 3em;
	color: var(--gray);
}

h1{
	font-size: 1.5em;
	font-weight: 900;
	margin: 0;
	color: var(--black);
}

#pricing-section {
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: space-evenly;
}

h2 {
	font-size: 1.1em;
	color: var(--black);
	font-weight: 900;
	margin-bottom: 0;
}

#icon-music {
	width: 100%;
	height: auto;
	max-width: 3em;
}

#prices {
	display: inline-block;
}

#prices p {
	margin-top: 0.5em;
}

#change-button {
	color: var(--bright-blue);
	font-weight: 900;
	text-decoration: none;
	text-align: right;
	flex-grow: 0.5;
}

#payment-button {
	padding: 1em;
	width: 100%;
	text-align: center;
	border: none;
	color: var(--white);
	background-color: var(--bright-blue);
	border-radius: 5px;		
	box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
	margin: 1.5em 0 1.75em;
	transition: 0.5s ease;
}

#cancel-button {
	text-decoration: none;
	color: var(--gray);
	font-weight: 900;
	transition: 0.3s ease;
}

#attribution {
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Hovers */
@media (hover: hover) {
	#payment-button:hover {
		cursor: pointer;
		background-color: var(--very-pale-blue);
	}

	#change-button:hover {
		color: var(--very-pale-blue);
	}

	#cancel-button:hover {
		color: var(--black);
	}
}

/* Media queries */
@media (max-width: 1079px) {
	#component {
		width: 35%;
	}
}

@media (max-width: 799px) {
	#component {
		width: 45%;
	}
}

@media (max-width: 614px) {
	#component {
		font-size: 12px;
		width: 70%;
	}
}

@media (max-width: 375px) {
	body {
		font-size: 12px;
		background: url(../images/pattern-background-mobile.svg) no-repeat;	
		background-color: var(--pale-blue);
	}

	#component {
		width: 80%;
	}
}
